<mat-grid-list cols="12" rowHeight="7%">
    <mat-grid-tile [colspan]="12" [rowspan]="4"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4"></mat-grid-tile>

        <mat-grid-tile [colspan]="8" [rowspan]="4" id="input-outside">
            <mat-form-field appearance="legacy" class="input-headline" id="code-input">
                <mat-label>Поиск бронирования</mat-label>
                <input matInput placeholder="Введите код из билета">
                <mat-icon matSuffix>manage_search</mat-icon>
                <mat-hint>5 символов</mat-hint>
              </mat-form-field>
              <button mat-raised-button id="find-button">Найти</button>
        </mat-grid-tile>
        




    <mat-grid-tile [colspan]="2" [rowspan]="4"></mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="4"></mat-grid-tile>
</mat-grid-list>>
