<div class="MainWrapper">

        <div class= "FlightBlockDesktop__container-iVcQ3Ag8Cx">
        <div class="HeaderWrapper">
            <div class="Header">
                <div class="">
                    <div class="Direction__block">
                        <div class="Direction__icon">
                            <div class="DirectionIcon__direction-icon-2Ks6G9cdyP">
                                <div class="DirectionIcon__icon-2Ks6G9cdyP"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" y="0"/></g><g><g><path d="M20,21c-1.39,0-2.78-0.47-4-1.32c-2.44,1.71-5.56,1.71-8,0C6.78,20.53,5.39,21,4,21H2v2h2c1.38,0,2.74-0.35,4-0.99 c2.52,1.29,5.48,1.29,8,0c1.26,0.65,2.62,0.99,4,0.99h2v-2H20z M3.95,19H4c1.6,0,3.02-0.88,4-2c0.98,1.12,2.4,2,4,2s3.02-0.88,4-2 c0.98,1.12,2.4,2,4,2h0.05l1.9-6.68c0.11-0.37,0.04-1.06-0.66-1.28L20,10.62V6c0-1.1-0.9-2-2-2h-3V1H9v3H6C4.9,4,4,4.9,4,6v4.62 l-1.29,0.42c-0.63,0.19-0.81,0.84-0.66,1.28L3.95,19z M6,6h12v3.97L12,8L6,9.97V6z"/></g></g></svg></div>
                                <div class="DirectionIcon__line-2Ks6G9cdyP"></div>
                                <div class="DirectionIcon__dot-2Ks6G9cdyP">
                                    <span class="DirectionIcon__dot-circle-2Ks6G9cdyP">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="Direction__wrapper-1pKbvyK4tm">
                            <div><span class="Direction__cityName-1pKbvyK4tm">Томск</span>
                                <span class="Direction__airportCode-1pKbvyK4tm">NST</span>
                            </div>
                            <div>
                                <span class="Direction__cityName-1pKbvyK4tm">Мир</span>
                                <span class="Direction__airportCode-1pKbvyK4tm">WRD</span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="Duration__content-1M0Ar8IRdO">
                            <span class="Duration__count-transfers-1M0Ar8IRdO">Прямой рейс</span>
                            <span class="Duration__time-1M0Ar8IRdO">7 ч 00 мин в пути</span>
                        </div>
                    </div>
                </div>
                <div class="CheckinInfo__content-3ayJgi1jbZ">
                    <div class="CheckinInfo__block-3ayJgi1jbZ">
                        <span class="CheckinInfo__text-3ayJgi1jbZ">Начало регистрации <br> <strong> 4 марта в 00:00
                            </strong></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="SegmentWrapper__block-3MIqkOxlw4">
            <div>
                <div class="Segment__body-Tii9TuqVrN">
                    <div class="Segment__grid-Tii9TuqVrN">
                        <div class="Segment__col-Tii9TuqVrN Segment__left-Tii9TuqVrN">
                            <div class="Segment__airlines-Tii9TuqVrN">
                                <div class="Airlines__airlines-1d3aXuPl7t">
                                    <span class="Airlines__name-1d3aXuPl7t">Nst Travels</span>
                                    <div class="Airlines__number-1d3aXuPl7t">
                                        <div class="Airlines__logo-1d3aXuPl7t">
                                            <img alt=""
                                                src="../../assets/nst.jpg"
                                                class="Airlines__img-1d3aXuPl7t">
                                        </div>
                                        <span class="Airlines__text-1d3aXuPl7t">NS7 5863</span>
                                    </div>
                                </div>
                            </div>
                            <div class="Segment__plain-Tii9TuqVrN">Ship A320 Titanic</div>
                        </div>
                        <div class="Segment__col-Tii9TuqVrN">
                            <div>
                                <div class="FlightInfo__row-_jw6NP5k3m">
                                    <span class="FlightInfo__date-_jw6NP5k3m">5 марта, Пт</span>
                                    <span class="FlightInfo__date-_jw6NP5k3m">5 марта, Пт</span>
                                </div>
                                <div class="FlightInfo__row-_jw6NP5k3m">
                                    <span class="FlightInfo__time-_jw6NP5k3m">08:30</span>
                                    <div class="FlightInfo__duration-_jw6NP5k3m">
                                        <span class="FlightInfo__duration-time-_jw6NP5k3m">7 ч 00 мин в пути</span>
                                        <div class="FlightInfo__duration-line-_jw6NP5k3m"></div>
                                        <span class="FlightInfo__duration-distance-_jw6NP5k3m">4355 км</span>
                                    </div>
                                    <span class="FlightInfo__time-_jw6NP5k3m">16:30</span>
                                </div>
                                <div class="FlightInfo__row-_jw6NP5k3m">
                                    <div class="FlightInfo__city-_jw6NP5k3m">
                                        <div class="FlightInfo__city-block-_jw6NP5k3m">
                                            <span class="FlightInfo__city-name-_jw6NP5k3m">Томск</span>
                                        </div>
                                        <span class="FlightInfo__city-airport-_jw6NP5k3m">Nst, Перрон 1</span>
                                    </div>
                                    <div class="FlightInfo__city-_jw6NP5k3m FlightInfo__-text-align-right-_jw6NP5k3m">
                                        <div class="FlightInfo__city-block-_jw6NP5k3m">
                                            <span
                                                class="FlightInfo__city-name-_jw6NP5k3m FlightInfo__arrivalCity-_jw6NP5k3m">Мечта</span>
                                        </div>
                                        <span class="FlightInfo__city-airport-_jw6NP5k3m"> Перрон 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-accordion id="accardion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Времяпрепровождение
                </mat-panel-title>
                <mat-panel-description class="PanDesk">
                  Отметьте как вы бы хотели провести путешествие 
                </mat-panel-description>
              </mat-expansion-panel-header>
            

                <mat-checkbox formControlName="act1"> Хочу активно учавстовать во всех активностях</mat-checkbox>
                <mat-checkbox formControlName="act2"> По ситуации</mat-checkbox>
                <mat-checkbox formControlName="act3"> Хочу спокойно провести время</mat-checkbox>
                <mat-form-field>
                    <mat-label>Свое:</mat-label>
                    <input matInput placeholder="Опишите свой вариант" formControlName="actOther">
                  </mat-form-field>
             
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Питание
                </mat-panel-title>
                <mat-panel-description class="PanDesk">
                  Отметьте что бы вы предпочли в качестве основного блюда во время путешествия (не более 2)
                </mat-panel-description>
              </mat-expansion-panel-header>

                <mat-checkbox formControlName="eat1"> Пицца мясная </mat-checkbox>
                <mat-checkbox formControlName="eat2"> Пицца вегетарианская/веганская </mat-checkbox>
                <mat-checkbox formControlName="eat3"> Суши</mat-checkbox>            
                <mat-checkbox formControlName="eat4"> Пироги с мясом </mat-checkbox>
                <mat-checkbox formControlName="eat5"> Пироги сладкие </mat-checkbox>
                <mat-checkbox formControlName="eat6"> Пироги вегетарианские/веганские </mat-checkbox>
                <mat-form-field>
                    <mat-label>Свое:</mat-label>
                    <input matInput placeholder="Опишите свой вариант" formControlName="eatOther">
                </mat-form-field>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    Напитки
                  </mat-panel-title>
                  <mat-panel-description class="PanDesk">
                    Отметьте что бы вы предпочли в качестве напитков во время путешествия
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-checkbox formControlName="drink1"> Соки </mat-checkbox>
                <mat-checkbox formControlName="drink2"> Газированные напитки </mat-checkbox>
                <mat-checkbox formControlName="drink3"> Молочные коктейли </mat-checkbox>            
                <mat-checkbox formControlName="drink4"> Морсы </mat-checkbox>
                <mat-form-field>
                    <mat-label>Свое:</mat-label>
                    <input matInput placeholder="Опишите свой вариант" formControlName="drinkOther">
                </mat-form-field>
              </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header >
              <mat-panel-title>
                Алкоголь
              </mat-panel-title>
              <mat-panel-description class="PanDesk">
                Отметьте что бы вы предпочли в качестве алкогольных напитков во время(после) путешествия
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-checkbox formControlName="alco1"> Вино (сладкое/сухое/полусухое красное/белое отметьте в графе "Свое") </mat-checkbox>
            <mat-checkbox formControlName="alco2"> Пиво (темное/светлое алк./без.алк. отметьте в графе "Свое") </mat-checkbox>
            <mat-checkbox formControlName="alco3"> Сидр (вкус/марку отметьте в графе "Свое")</mat-checkbox>            
            <mat-checkbox formControlName="alco4"> Шампанское </mat-checkbox>
            <mat-checkbox formControlName="alco5"> Крепкий алкоголь (отметьте в графе "Свое") </mat-checkbox>
            <mat-form-field>
                <mat-label>Свое:</mat-label>
                <input matInput placeholder="Опишите свой вариант" formControlName="alcoOther">
            </mat-form-field>
          </mat-expansion-panel>
      </mat-accordion>
      <button mat-raised-button type="submit" id="SumbitButton">  {{buttonText}} </button>
    </form>
<div>