<div class="MainWrapper">

        <div class= "FlightBlockDesktop__container-iVcQ3Ag8Cx">
        <div class="HeaderWrapper">
            <div class="Header">
                <div class="">
                    <div class="Direction__block">
                        <div class="Direction__icon">
                            <div class="DirectionIcon__direction-icon-2Ks6G9cdyP">
                                <div class="DirectionIcon__icon-2Ks6G9cdyP"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" y="0"/></g><g><g><path d="M20,21c-1.39,0-2.78-0.47-4-1.32c-2.44,1.71-5.56,1.71-8,0C6.78,20.53,5.39,21,4,21H2v2h2c1.38,0,2.74-0.35,4-0.99 c2.52,1.29,5.48,1.29,8,0c1.26,0.65,2.62,0.99,4,0.99h2v-2H20z M3.95,19H4c1.6,0,3.02-0.88,4-2c0.98,1.12,2.4,2,4,2s3.02-0.88,4-2 c0.98,1.12,2.4,2,4,2h0.05l1.9-6.68c0.11-0.37,0.04-1.06-0.66-1.28L20,10.62V6c0-1.1-0.9-2-2-2h-3V1H9v3H6C4.9,4,4,4.9,4,6v4.62 l-1.29,0.42c-0.63,0.19-0.81,0.84-0.66,1.28L3.95,19z M6,6h12v3.97L12,8L6,9.97V6z"/></g></g></svg></div>
                                <div class="DirectionIcon__line-2Ks6G9cdyP"></div>
                                <div class="DirectionIcon__dot-2Ks6G9cdyP">
                                    <span class="DirectionIcon__dot-circle-2Ks6G9cdyP">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="Direction__wrapper-1pKbvyK4tm">
                            <div><span class="Direction__cityName-1pKbvyK4tm">Томск</span>
                                <span class="Direction__airportCode-1pKbvyK4tm">NST</span>
                            </div>
                            <div>
                                <span class="Direction__cityName-1pKbvyK4tm">Мир</span>
                                <span class="Direction__airportCode-1pKbvyK4tm">WRD</span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="Duration__content-1M0Ar8IRdO">
                            <span class="Duration__count-transfers-1M0Ar8IRdO">Прямой рейс</span>
                            <span class="Duration__time-1M0Ar8IRdO">7 ч 00 мин в пути</span>
                        </div>
                    </div>
                </div>
                <div class="CheckinInfo__content-3ayJgi1jbZ">
                    <div class="CheckinInfo__block-3ayJgi1jbZ">
                        <span class="CheckinInfo__text-3ayJgi1jbZ">Начало регистрации <br> <strong> 4 марта в 00:00
                            </strong></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="SegmentWrapper__block-3MIqkOxlw4">
            <div>
                <div class="Segment__body-Tii9TuqVrN">
                    <div class="Segment__grid-Tii9TuqVrN">
                        <div class="Segment__col-Tii9TuqVrN Segment__left-Tii9TuqVrN">
                            <div class="Segment__airlines-Tii9TuqVrN">
                                <div class="Airlines__airlines-1d3aXuPl7t">
                                    <span class="Airlines__name-1d3aXuPl7t">Nst Travels</span>
                                    <div class="Airlines__number-1d3aXuPl7t">
                                        <div class="Airlines__logo-1d3aXuPl7t">
                                            <img alt=""
                                                src="../../assets/nst.jpg"
                                                class="Airlines__img-1d3aXuPl7t">
                                        </div>
                                        <span class="Airlines__text-1d3aXuPl7t">S7 5863</span>
                                    </div>
                                </div>
                            </div>
                            <div class="Segment__plain-Tii9TuqVrN">Ship A320 Titanic</div>
                        </div>
                        <div class="Segment__col-Tii9TuqVrN">
                            <div>
                                <div class="FlightInfo__row-_jw6NP5k3m">
                                    <span class="FlightInfo__date-_jw6NP5k3m">5 марта, Пт</span>
                                    <span class="FlightInfo__date-_jw6NP5k3m">5 марта, Пт</span>
                                </div>
                                <div class="FlightInfo__row-_jw6NP5k3m">
                                    <span class="FlightInfo__time-_jw6NP5k3m">08:30</span>
                                    <div class="FlightInfo__duration-_jw6NP5k3m">
                                        <span class="FlightInfo__duration-time-_jw6NP5k3m">7 ч 00 мин в пути</span>
                                        <div class="FlightInfo__duration-line-_jw6NP5k3m"></div>
                                        <span class="FlightInfo__duration-distance-_jw6NP5k3m">4355 км</span>
                                    </div>
                                    <span class="FlightInfo__time-_jw6NP5k3m">16:30</span>
                                </div>
                                <div class="FlightInfo__row-_jw6NP5k3m">
                                    <div class="FlightInfo__city-_jw6NP5k3m">
                                        <div class="FlightInfo__city-block-_jw6NP5k3m">
                                            <span class="FlightInfo__city-name-_jw6NP5k3m">Томск</span>
                                        </div>
                                        <span class="FlightInfo__city-airport-_jw6NP5k3m">Nst, Перрон 1</span>
                                    </div>
                                    <div class="FlightInfo__city-_jw6NP5k3m FlightInfo__-text-align-right-_jw6NP5k3m">
                                        <div class="FlightInfo__city-block-_jw6NP5k3m">
                                            <span
                                                class="FlightInfo__city-name-_jw6NP5k3m FlightInfo__arrivalCity-_jw6NP5k3m">Мечта</span>
                                        </div>
                                        <span class="FlightInfo__city-airport-_jw6NP5k3m"> Перрон 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        </div>

<div>